body {
    font-family: lucida console;
    background-color: rgba(194, 194, 194, 0.788);
}

.vov {
    text-align: center;
    color: rgba(0, 0, 0, 0.904);
    font-size: 40px;
    font-family: txt;
}

.russia {
    text-align: center;
    color: rgba(177, 10, 10, 0.904);
    font-size: 40px;
    background-color: rgb(177, 177, 177);
    
    font-family: txt;
}

.USSR {
    text-align: center;
    color: rgba(177, 10, 10, 0.904);
    font-size: 40px;
    font-family: txt;
    background-color: rgb(177, 177, 177);
}


p img {
    width: 250px;
    margin: 15px;
}

footer {
    background-color:  rgba(92, 92, 92, 0.603);
    color: rgb(0, 0, 0);
     font-family: impact;
}

header{
    background-color: rgba(92, 92, 92, 0.603);
     font-family: impact;
}

.first{
    float: left;
     width: 100%;
}

.two{
    float: left;
    width: 60%;
}

.imgOne{
    float: right;
     border: 5px double red;
}
footer {
    float: right;
}

.imgTwo {
    float: right;
    width: 70%;
    color: rgba(226, 16, 16, 0.904);
    background-color: rgb(100, 100, 100);
}

.logo {
    float: left;
}

.logo_text {
color: rgba(177, 10, 10, 0.897);
}

.three{
    float: left;
    width: 80%;
}